[submodule "libpng"]
	path = libpng
	url = https://github.com/glennrp/libpng
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "bzip2"]
	path = bzip2
	url = https://github.com/sergiud/bzip2
	branch = cmake
